/project/dist
/project/node_modules

/project/dist
/project/dist

/third-class/day4/chat/node_modules
/third-class/day4/WS_chat/node_modules
/third-class/day3/node_modules
/YHD/node_modules
/YHD/dist
/third-class/day2/demo/node_modules
/third-class/day5/node_modules
/third-class/day5/express-gen/node_modules
/third-class/project/node_modules
