.banner{
	width: 100%;
	height: 400px;
	background: #067bfe;
	position: relative;
}
.banner div{
	width: 1023px;
	height: 400px;
	float: right;
}
.banner div img{
	width: 1023px;
	height: 400px;
	margin: 0 auto;
}
.banner ul{
	height: 400px;
	width: 205px;
	position: absolute;
	top:0px;
	left: 33px;
	background: #353044;
	opacity: .8;
}
.banner ul li{
	width: 205px;
	height: 33px;
	text-align: center;
	line-height: 35px;
	position: relative;
}
.banner ul li i{
	font-size: 18px !important;
	position: absolute;
	top:0px;
	left: 25px;
}
.banner ul li a{
	color: white;
	font-size: 14px;
}
.banner ul li:hover{
	background: #eeeeee;
}

.banner .login{
	width:205px ;
	height: 330px;
	background: #eeeff3;
	position: absolute;
	top: 45px;
	right: 20px;
}
.banner .login .login_top{
	height: 75px;
	width:205px;
	text-align: center;
}
.banner .login .login_top a{
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 4px solid #e5e5e5;
	background: url(../img/people.jpg) no-repeat center center;
	background-size: 64px 64px;
	margin-top:-30px ;
}
.banner .login .login_top .p1{
	color:#aaaaaa;
	text-align: center;
	margin-top:10px ;
	}

.banner .login .login_form{
		height: 85px;
		width: 189px;
		border-bottom: 1px solid #e5e5e5 ;
		margin-left: 8px;
		margin-right: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
}
.banner .login .login_form button{
	width:72px ;
	height:26px ;
	border: 1px solid red;
	border-radius: 10px;
	text-align: center;
	line-height:26px ;
	color: red;
	background: white;
	
}
.banner .login .login_form button:last-child{
	margin-left: 10px;
}
.banner .login .login_center{
	width: 189px;
	height:80px ;
	border-bottom: 1px dashed #e5e5e5;
	margin-left: 8px;
	margin-right: 8px;
	
}
.banner .login .login_center dl{
	width:63px;
	height: 80px;
	float: left;
}
.banner .login .login_center dl dt img{
	width: 32px;
	height: 32px;
	margin-top: 8px;
	margin-left: 12px;
}
.banner .login .login_center dl dd{
	font-size: 12px;
	text-align: center;
}
.banner .login .login_bottom{
	height: 90px;
	width: 205px;
	margin-top:10px ;
	padding-left: 15px;
}
.banner .login  .login_bottom .p3{
	line-height: 26px;
	
}
.banner .login .login_bottom .p3 a{
	color: #666666;
}
.banner .login  .login_bottom .p3 span{
	color:red;
}









.wrapmain{
	width: 100%;
	height: 10000px;
	height: auto;
	min-height: 10000px;
	background: pink;
}
.wrapmain .main{
	height: 10000px;
	height: auto;
	min-height: 10000px;
	width: 1225px;
	margin: 0 auto;
	overflow: hidden;
}
.wrapmain .main .sale{
	height: 140px;
	width: 1225px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	margin-bottom:20px ;
}
.wrapmain .main .sale .more{
	width: 205px;
	height: 140px;
	position: relative;
	
}
.wrapmain .main .sale .more img{
	width: 205px;
	height: 140px;
}
.wrapmain .main .sale .more a{
	position: absolute;
	width: 80px;
	height:25px ;
	text-align: center;
	line-height:25px ;
	color: white;
	border-radius: 10px;
	background: #b5012f;
	top:97px;
	left: 60px;
	
}
.wrapmain .main .sale dl{
	width: 255px;
	height: 140px;
	padding: 0 15px;
	position: relative;
	background: white;
	/*float: left;*/
}
.wrapmain .main .sale dl dt{
	width: 108px;
	height: 140px;
	margin-top: 18px;
	margin-right:7px ;
	float: left;
}
.wrapmain .main .sale dl dt .p1{
	/*line-height: 20px;*/
	margin-bottom: 10px;
	width: 108;
	height: 33px;
	overflow: hidden;
}

.wrapmain .main .sale dl dt .p2{
	font-size: 12px;
	font-weight: 600;
	color: red;
	margin-bottom: 10px;
}
.wrapmain .main .sale dl dt .p3{
	font-size: 12px;
	color: #aaaaaa;
}
.wrapmain .main .sale dl dd{
	margin-top: 22px;
	width: 100px;
	height: 140px;
	float: right;
}
.wrapmain .main .sale dl dd img{
	width: 110px;
	height: 100px;
}
.wrapmain .main .sale dl dd:hover img{
	transform: translateX(-5px);
}
.wrapmain .main .sale dl span{
	position: absolute;
	border-right: 1px dashed #e5e5e5;
	width: 1px;
	height: 70px;
	top:35px;
	right: 0px;
}
.wrapmain .main .festival{
	width: 1225px;
	height: 400px;
	display: flex;
	justify-content: space-between;
	margin-bottom:20px ;
}
.wrapmain .main .festival .festiva_l{
	width: 268px;
	height: 400px;
	position: relative;
}
.wrapmain .main .festival .festiva_l img{
	width: 268px;
	height: 400px;
}

.wrapmain .main .festival .festiva_l .time{
	width: 200px;
	height: 100px;
	position: absolute;
	background:rgba(255,255,255,.6) ;
	left: 34px;
	top:266px;
	text-align: center;
	padding-top:20px ;
}
.wrapmain .main .festival .festiva_l .time .p1{
	font-size: 16px;
}

.wrapmain .main .festival .festiva_c{
	width: 485px;
	height: 400px;
	background: white;
	border-top:1px solid #fb6233;
}

.wrapmain .main .festival .festiva_c .fc_top{
	height: 30px;
	width: 485px;
	display: flex;
	justify-content: center;
}
.wrapmain .main .festival .festiva_c .fc_top h4{
	width:135px ;
	height: 30px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background: #fb6233;
}
.wrapmain .main .festival .festiva_c .fc_bottom .fcb_l{
	width: 250px;
	height: 360px;
	border-right: 1px solid #e5e5e5;
	float: left;
	margin-top: 10px;
}

.wrapmain .main .festival .festiva_c .fc_bottom .fcb_l img{
	width: 249px;
	height: 358px;
}
.wrapmain .main .festival .festiva_c .fc_bottom .fcb_r{
	float: left;
	width: 195px;
	height: 360px;
	margin-left: 20px;
}
.wrapmain .main .festival .festiva_c .fc_bottom .fcb_r dl{
	width: 195px;
	height: 200px;
	padding-top: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.wrapmain .main .festival .festiva_c .fc_bottom .fcb_r dl dt .p1{
	color: red;
	font-size:14px;
	margin-bottom: 5px;
}
.wrapmain .main .festival .festiva_c .fc_bottom .fcb_r dl dd {
	float: right;
}
.wrapmain .main .festival .festiva_c .fc_bottom .fcb_r dl dd img{
	width: 115px;
	height: 105px;
}
.wrapmain .main .festival .festiva_c .fc_bottom .fcb_r dl:last-child{
	height: 160px;
	border: none;
}

.wrapmain .main .festival .festiva_r{
	width: 455px;
	height: 400px;
	border-top:1px solid #fb6233;
	background: white;
}

.wrapmain .main .festival .festiva_r .fr_top{
	height: 30px;
	width: 455px;
}
.wrapmain .main .festival .festiva_r .fr_top h4{
	width:135px ;
	height: 30px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background: #fb6233;
	margin-left: 160px;
}
.wrapmain .main .festival .festiva_r .fr_top a{
	float: right;
	margin-top: -16px;
	color:#aaaaaa;
}
.wrapmain .main .festival .festiva_r .fr_nav{
	margin-top: 8px;
	width:455px;
	height:34px;
	display: flex;
	justify-content: center;
}
.wrapmain .main .festival .festiva_r .fr_nav ul{
	width:415px;
	height: 34px;
	border-bottom: 1px solid #e5e5e5;
	
}
.wrapmain .main .festival .festiva_r .fr_nav ul li {
	float: left;
	width: 83px;
	height: 34px;
	line-height: 30px;
	text-align: center;	
}
.wrapmain .main .festival .festiva_r .fr_nav ul li a{
	color: #666666;
	display: inline-block;	
}
.wrapmain .main .festival .festiva_r .fr_nav ul li a:hover{
	color: red;
}

.wrapmain .main .festival .festiva_r .fr_nav ul li:hover{
	border-bottom: 2px solid red;
}
.wrapmain .main .festival .festiva_r .fr_pic{
	 height: 327px;
	 width: 455px;
	 
}
.wrapmain .main .festival .festiva_r .fr_pic ul{
	height: 327px;
	 width: 455px;
	 display: flex;
	 justify-content: space-around;
	 flex-wrap: wrap;
	 align-content: space-around;
}
.wrapmain .main .festival .festiva_r .fr_pic ul li{
	width: 144px;
	height: 163px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapmain .main .festival .festiva_r .fr_pic ul li img{
	width: 100px;
	height: 102px;
}

.wrapmain .main .festival .festiva_r .fr_pic ul li span{
	margin-top: 15px;
}

.wrapmain .main .new{
	width: 1225px;
	height: 400px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.wrapmain .main .new .new_l{
	width: 268px;
	height: 400px;
}
.wrapmain .main .new .new_l img{
	width: 268px;
	height: 400px;
}



.wrapmain .main .new .new_c{
	width: 485px;
	height: 400px;
	background: white;
	border-top:1px solid #dfa747;
}

.wrapmain .main .new .new_c .nc_top{
	height: 30px;
	width: 485px;
	display: flex;
	justify-content: center;
}
.wrapmain .main .new .new_c .nc_top h4{
	width:135px ;
	height: 30px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background: #dfa747;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_l{
	width: 250px;
	height: 360px;
	border-right: 1px solid #e5e5e5;
	float: left;
	margin-top: 10px;
}

.wrapmain .main .new .new_c .nc_bottom .ncb_l img{
	width: 249px;
	height: 358px;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r{
	float: left;
	width: 195px;
	height: 360px;
	margin-left: 20px;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r dl{
	width: 195px;
	height: 113px;
	padding-top: 25px;
	border-bottom: 1px solid #e5e5e5;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r dl dt{
	float: left;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r dl dt .p1{
	color: black;
	font-size:14px;
	margin-bottom: 5px;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r dl dt .p2{
	color: #aaaaaa;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r dl dd {
	float: right
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r dl dd img{
	width: 85px;
	height: 80px;
}
.wrapmain .main .new .new_c .nc_bottom .ncb_r dl:last-child{
	border: none;
}

.wrapmain .main .new .new_r{
	width: 455px;
	height: 400px;
	background: white;
	border-top:1px solid #f39156;
}
.wrapmain .main .new .new_r .nr_top{
	height: 30px;
	width: 455px;
	display: flex;
	justify-content: center;
}
.wrapmain .main .new .new_r .nr_top h4{
	width:135px ;
	height: 30px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background: #f39156;
}

.wrapmain .main .new .new_r .nr_center{
	width: 455px;
	height: 217px;
	display: flex;
	justify-content: space-around;
}

.wrapmain .main .new .new_r .nr_center .nrc_l{
	width: 225px;
	height: 217px;
	margin-top: 10px;
	border-right: 1px solid #e5e5e5;
	padding-top: 20px;
	padding-left:20px;
	
}

.wrapmain .main .new .new_r .nr_center .nrc_l  dt .p1{
	color: black;
	font-size:14px;
	margin-bottom: 5px;
}
.wrapmain .main .new .new_r .nr_center .nrc_l  dt .p2{
	color: #aaaaaa;
}
.wrapmain .main .new .new_r .nr_center .nrc_l  dd{
	float: right;
}
.wrapmain .main .new .new_r .nr_center .nrc_l  dd img{
	width: 148px;
	height: 155px;
}



.wrapmain .main .new .new_r .nr_center .nrc_r{
	float: left;
	width: 185px;
	height: 217px;
	margin-left: 20px;
	margin-right: 20px;
}
.wrapmain .main .new .new_r .nr_center .nrc_r dl{
	width: 185px;
	height: 113px;
	padding-top: 25px;
	border-bottom: 1px solid #e5e5e5;
}
.wrapmain .main .new .new_r .nr_center .nrc_r dl dt{
	float: left;
}
.wrapmain .main .new .new_r .nr_center .nrc_r dl dt .p1{
	color: black;
	font-size:14px;
	margin-bottom: 5px;
}
.wrapmain .main .new .new_r .nr_center .nrc_r dl dt .p2{
	color: #aaaaaa;
}
.wrapmain .main .new .new_r .nr_center .nrc_r dl dd {
	float: right
}
.wrapmain .main .new .new_r .nr_center .nrc_r dl dd img{
	width: 86px;
	height: 81px;
}
.wrapmain .main .new .new_r .nr_center .nrc_r dl:last-child{
	border: none;
}
.wrapmain .main .new .new_r .nr_bottom{
	width: 455px;
	height: 105px;
	display: flex;
	justify-content: space-around;
	margin-top: 28px;	
}
.wrapmain .main .new .new_r .nr_bottom .go{
	width:200px ;
	height: 105px;
	position: relative;
}

.wrapmain .main .new .new_r .nr_bottom .go a{
	position: absolute;
	color: red;
	padding-top:15px ;
	padding-left:12px ;
	top:0px;
	left: 0px;
}
.wrapmain .main .new .new_r .nr_bottom .go img{
	width:200px ;
	height: 105px;
}

.wrapmain .main .entrance{
	width: 1225px;
	height: 620px;
	margin-bottom: 20px;
}

.wrapmain .main .entrance h5{
	height: 67px;
	width: 1225px;
	background:url(../img/dian.png) no-repeat 82px 32px ;
	font-size: 14px;
	color: #645144;
	font-weight: bold;
	line-height: 80px;
	padding-left:15px ;
	
}
.wrapmain .main .entrance .entrance_l{
	width: 930px;
	height: 450px;
	float: left;
	border: 5px solid #b1efec;
}

.wrapmain .main .entrance .entrance_l .enl_left{
	width: 310px;
	height: 440px;
	position: relative;
	float: left;
}

.wrapmain .main .entrance .entrance_l .enl_left img{
	width: 310px;
	height: 440px;
}
.wrapmain .main .entrance .entrance_l .enl_left .left_more{
	width: 276px;
	height: 73px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
	position: absolute;
	left: 23px;
	bottom:30px
}
.wrapmain .main .entrance .entrance_l .enl_left .left_more a{
	display: inline-block;
	width:85px ;
	height: 30px;
	border: 1px solid #9ee9e6;
	color: white;
	line-height:30px ;
	text-align: center;
}
.wrapmain .main .entrance .entrance_l .enl_right{
	width:610px ;
	height:440px ;
	float: left;
	background:#b1efec ;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}
.wrapmain .main .entrance .entrance_l .enl_right .big img{
	width:405px ;
	height: 218px;
}
.wrapmain .main .entrance .entrance_l .enl_right dl {
	width: 202px;
	height: 218px;
	padding:20px 15px 0 25px;
	background: white;
}
.wrapmain .main .entrance .entrance_l .enl_right dl dt{
	width: 205px;
	height: 45px;
}
.wrapmain .main .entrance .entrance_l .enl_right dl dt .p2{
	color:#aaaaaa;
	margin-top: 5px;
}
.wrapmain .main .entrance .entrance_l .enl_right dl dd{
	float: right;
}
.wrapmain .main .entrance .entrance_l .enl_right dl dd img{
	width: 126px;
	height: 147px;
}
.wrapmain .main .entrance .entrance_r{
	width:295px;
	height: 440px;
	float: left;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.wrapmain .main .entrance .entrance_r dl{
	width: 147px;
	height: 150px;
	background: #ffe6ee;
	padding-top:17px ;
	padding-left: 10px;
}
.wrapmain .main .entrance .entrance_r dl dt .p1{
	font-weight: bold;
	color:#f06291;
	margin-bottom:12px ;
}
.wrapmain .main .entrance .entrance_r dl dt .p3{
	font-weight: bold;
	color:#f06291;
}
.wrapmain .main .entrance .entrance_r dl dd{
	float: right;
}
.wrapmain .main .entrance .entrance_r dl dd img{
	width: 90px;
	height: 100px;
	position: relative;
	top:-21px;
	right: -5px;
}
.wrapmain .main .entrance .entrance_r dl:nth-child(2){
	background:#fff3e4 ;
}

.wrapmain .main .chinesefood{
	width: 1225px;
	height: 430px;
	margin-bottom: 20px;
}
.wrapmain .main .chinesefood .chinesefood_l{
	width: 235px;
	height: 430px;
	background: #f89656;
	padding-top: 20px;
	float: left;
}
.wrapmain .main .chinesefood .chinesefood_l h6{
	text-align: center;
	line-height: 20px;
	font-size:18px; 
}
.wrapmain .main .chinesefood .chinesefood_l h6 a{
	border-bottom: 1px solid #fff;
	display: inline-block;
	color: white;
	width: 130px;
	height: 30px;
}
.wrapmain .main .chinesefood .chinesefood_l p{
	text-align: center;
	line-height: 20px;
}
.wrapmain .main .chinesefood .chinesefood_l p a{
	color: white;	
}
.wrapmain .main .chinesefood .chinesefood_l .scoll{
	width:195px ;
	height:225px ;
	background: white;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 35px;
	padding-top: 20px;
}
.wrapmain .main .chinesefood .chinesefood_l .scoll .p1{
	text-align: center;
	font-size: 16px;
	color:#fbba72 ;
	line-height:25px ;
}
.wrapmain .main .chinesefood .chinesefood_l .scoll .scoll_list{
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-top: 5px;
}
.wrapmain .main .chinesefood .chinesefood_l .scoll img{
	width: 130px;
	height: 130px;
}
.wrapmain .main .chinesefood .chinesefood_l .p3{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
}

.wrapmain .main .chinesefood .chinesefood_l .p3 span:first-child{
	padding-right:20px ;
}
.wrapmain .main .chinesefood .chinesefood_l .p3 span:last-child{
	padding-left:20px ;
}
.wrapmain .main .chinesefood .chinesefood_l .chfl_bottom{
	width: 235px;
	height: 49px;
	background: rgba(255,255,255,.2);
	padding-left:15px ;
	line-height: 49px;
	
}
.wrapmain .main .chinesefood .chinesefood_l .chfl_bottom i{
	font-size:16px !important ;
	color: white;
}
.wrapmain .main .chinesefood .chinesefood_l .chfl_bottom span{
	border-right: 1px solid #fff;
	display: inline-block;
	width: 1px;
	height: 26px;
	padding-left:10px; 
	position: relative;
	top:7px
}
.wrapmain .main .chinesefood .chinesefood_l .chfl_bottom a{
	color: white;
	padding-left:10px; 
}
.wrapmain .main .chinesefood .chinesefood_c{
	width: 743px;
	height: 430px;
	border-right: 1px solid #e5e5e5;
	float: left;
	background: white;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_nav{
	height: 40px;
	/*border-bottom:1px solid #e5e5e5e;*/
	line-height: 40px;
	width: 743px;
	display: inline-block;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_nav a{
	color: #aaaaaa;
	display: inline-block;
	width: 76px;
	text-align: center;

}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list{
	width: 743px;
	height: 390px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list dl{
	width: 247px;
	height: 195px;
	padding-top: 20px;
	padding-left:20px ;
	padding-right: 20px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list dl dt .p2{
	color:#f78b4b;
	margin-top: 5px;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list dl dd{
	float: right;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list dl dd img{
	width: 130px;
	height: 130px;
}

.wrapmain .main .chinesefood .chinesefood_c .chfc_list ul{
	width: 247px;
	height: 195px;
	padding-top: 20px;
	padding-left:20px ;
	padding-right: 20px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list ul li{
	width: 100px;
	height: 50px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	float: left;
	position: relative
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list ul li a{
	display: inline-block;
	width: 100px;
	height: 50px;
	
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list ul li a img{
	width: 80px;
	height: 32px;
	position: absolute;
	top:0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: auto;
}

.wrapmain .main .chinesefood .chinesefood_c .chfc_list ul li:nth-child(2n){
	border-right: none;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list ul li:nth-child(5){
	border-bottom: none;
}
.wrapmain .main .chinesefood .chinesefood_c .chfc_list ul li:nth-child(6){
	border-bottom: none;
}

.wrapmain .main .chinesefood .chinesefood_r{
	width: 247px;
	height: 430px;
	background: white;
	float: left;
}
.wrapmain .main .chinesefood .chinesefood_r h6{
	height: 45px;
	width: 247px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	color: #7d6666;

}
.wrapmain .main .chinesefood .chinesefood_r .chfr_list{
	width: 247px;
	height: 380px;
	display: flex;
	justify-content: center;
}

.wrapmain .main .chinesefood .chinesefood_r .chfr_list dl{
	width: 210px;
	height: 78px;
}
.wrapmain .main .chinesefood .chinesefood_r .chfr_list dl dt{
	float: left;
	width: 60px;
	height: 78px;
}
.wrapmain .main .chinesefood .chinesefood_r .chfr_list dl dt img{
	width: 60px;
	height: 60px;
}
.wrapmain .main .chinesefood .chinesefood_r .chfr_list dl dd{
	float: right;
	padding-top:5px ;
	width:135px ;
	height: 78px;
	margin-left: 15px;	
}

.wrapmain .main .chinesefood .chinesefood_r .chfr_list dl dd .p1{
	line-height: 23px;
}
.wrapmain .main .chinesefood .chinesefood_r .chfr_list dl dd .p2{
	color: red;
	margin-top: 5px;
}

.wrapmain .main .seafood{
	width: 1225px;
	height: 430px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.wrapmain .main .seafood .seafood_left{
	width: 610px;
	height: 430px;
}

.wrapmain .main .seafood .seafood_left .sfl_top{
	height: 50px;
	width: 610px;
	background:#0ad09b ;
	line-height: 50px;
	padding: 0 18px;
	
}

.wrapmain .main .seafood .seafood_left .sfl_top h6{
	float: left;
	font-size: 16px;
}
.wrapmain .main .seafood .seafood_left .sfl_top h6 a{
	color: white;
}

.wrapmain .main .seafood .seafood_left .sfl_top p{
	float: right;
	width:318px ;
	font-size: 12px;
	
}
.wrapmain .main .seafood .seafood_left .sfl_top p a{
	color: white;
	padding: 0 5px;
}
.wrapmain .main .seafood .seafood_left .sfl_top p span{
	color: white;
}

.wrapmain .main .seafood .seafood_left .sfl_bottom{
	width: 610px;
	height: 380px;
}
.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_l{
	width:237px ;
	height: 380px;
	position: relative;
	float: left;
}
.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_l img{
	width:237px ;
	height: 380px;
}
.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_l .descripion{
	width: 96px;
	height: 80px;
	position: absolute;
	top:25px;
	left: 20px;
}
.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_l .descripion .p1{
	font-size: 16px;
	color:#48d9b0;
	margin-bottom: 10px;
}
.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_l .descripion .p2{
	font-size: 12px;
	color:#cccccc;
	margin-bottom: 20px;
}

.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_l .descripion a{
	margin-right:5px ;	
}

.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_l .descripion a em{
	display: inline-block;
	width: 22px;
	height: 4px;
	background: #48d9b0;
}

.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_r{
	width:373px ;
	height: 380px;
	float: left;
	background: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_r a{
	display: inline-block;
	width: 165px;
	height:164px ;
	border-left:1px solid #e5e5e5 ;
	border-bottom:1px solid #e5e5e5 ;
	padding-top:25px;
	padding-left:20px;
	overflow: hidden;
	color:black;
	
}

.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_r a .p2{
	color:#0bcd96 ;
	margin-top:8px;
}

.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_r a img{
	width: 105px;
	height: 105px;
	float: right;
	margin-top:10px ;
	margin-right: 10px;	
}
.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_r a:nth-child(3){
	border-bottom:none;
}

.wrapmain .main .seafood .seafood_left .sfl_bottom .sflb_r a:nth-child(4){
	border-bottom:none;
}


/*seafoodtight*/
.wrapmain .main .seafood .seafood_right{
	width: 610px;
	height: 430px;
}

.wrapmain .main .seafood .seafood_right .sfr_top{
	height: 50px;
	width: 610px;
	background:#963751 ;
	line-height: 50px;
	padding: 0 18px;
	
}

.wrapmain .main .seafood .seafood_right .sfr_top h6{
	float: left;
	font-size: 16px;
}
.wrapmain .main .seafood .seafood_right .sfr_top h6 a{
	color: white;
}

.wrapmain .main .seafood .seafood_right .sfr_top p{
	float: right;
	width:318px ;
	font-size: 12px;
	
}
.wrapmain .main .seafood .seafood_right .sfr_top p a{
	color: white;
	padding: 0 5px;
}
.wrapmain .main .seafood .seafood_right .sfr_top p span{
	color: white;
}

.wrapmain .main .seafood .seafood_right .sfr_bottom{
	width: 610px;
	height: 380px;
}
.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_l{
	width:237px ;
	height: 380px;
	position: relative;
	float: left;
}
.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_l img{
	width:237px ;
	height: 380px;
}
.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_l .descripion{
	width: 96px;
	height: 80px;
	position: absolute;
	top:25px;
	left: 20px;
}
.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_l .descripion .p1{
	font-size: 16px;
	color:#963751;
	margin-bottom: 10px;
}
.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_l .descripion .p2{
	font-size: 12px;
	color:#cccccc;
	margin-bottom: 20px;
}

.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_l .descripion a{
	margin-right:5px ;	
}

.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_l .descripion a em{
	display: inline-block;
	width: 22px;
	height: 4px;
	background: #963751;
}

.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_r{
	width:373px ;
	height: 380px;
	float: left;
	display: flex;
	background: white;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_r a{
	display: inline-block;
	width: 165px;
	height:164px ;
	border-left:1px solid #e5e5e5 ;
	border-bottom:1px solid #e5e5e5 ;
	padding-top:25px;
	padding-left:20px;
	overflow: hidden;
	color:black;
	
}

.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_r a .p2{
	color:#963751 ;
	margin-top:8px;
}

.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_r a img{
	width: 105px;
	height: 105px;
	float: right;
	margin-top:10px ;
	margin-right: 10px;	
}
.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_r a:nth-child(3){
	border-bottom:none;
}

.wrapmain .main .seafood .seafood_right .sfr_bottom .sfrb_r a:nth-child(4){
	border-bottom:none;
}










/*美妆个护*/
.wrapmain .main .beauty{
	width: 1225px;
	height: 430px;
	margin-bottom: 20px;
}
.wrapmain .main .beauty .beauty_l{
	width: 235px;
	height: 430px;
	background: #ff8fd2;
	padding-top: 20px;
	float: left;
}
.wrapmain .main .beauty .beauty_l h6{
	text-align: center;
	line-height: 20px;
	font-size:18px; 
}
.wrapmain .main .beauty .beauty_l h6 a{
	border-bottom: 1px solid #fff;
	display: inline-block;
	color: white;
	width: 130px;
	height: 30px;
}
.wrapmain .main .beauty .beauty_l p{
	text-align: center;
	line-height: 20px;
}
.wrapmain .main .beauty .beauty_l p a{
	color: white;	
}
.wrapmain .main .beauty .beauty_l .scoll{
	width:195px ;
	height:225px ;
	background: white;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 35px;
	padding-top: 20px;
}
.wrapmain .main .beauty .beauty_l .scoll .p1{
	text-align: center;
	font-size: 16px;
	color:#ff8fd2 ;
	line-height:25px ;
}
.wrapmain .main .beauty .beauty_l .scoll .scoll_list{
	width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-top: 5px;
}
.wrapmain .main .beauty .beauty_l .scoll img{
	width: 130px;
	height: 130px;
}
.wrapmain .main .beauty .beauty_l .p3{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
}

.wrapmain .main .beauty .beauty_l .p3 span:first-child{
	padding-right:20px ;
}
.wrapmain .main .beauty .beauty_l .p3 span:last-child{
	padding-left:20px ;
}
.wrapmain .main .beauty .beauty_l .btl_bottom{
	width: 235px;
	height: 49px;
	background: rgba(255,255,255,.2);
	padding-left:15px ;
	line-height: 49px;
	
}
.wrapmain .main .beauty .beauty_l .btl_bottom i{
	font-size:16px !important ;
	color: white;
}
.wrapmain .main .beauty .beauty_l .btl_bottom span{
	border-right: 1px solid #fff;
	display: inline-block;
	width: 1px;
	height: 26px;
	padding-left:10px; 
	position: relative;
	top:7px
}
.wrapmain .main .beauty .beauty_l .btl_bottom a{
	color: white;
	padding-left:10px; 
}
.wrapmain .main .beauty .beauty_c{
	width: 743px;
	height: 430px;
	border-right: 1px solid #e5e5e5;
	float: left;
	background: white;
}
.wrapmain .main .beauty .beauty_c .btc_nav{
	height: 40px;
	/*border-bottom:1px solid #e5e5e5e;*/
	line-height: 40px;
	width: 743px;
	display: inline-block;
}
.wrapmain .main .beauty .beauty_c  .btc_nav a{
	color: #aaaaaa;
	display: inline-block;
	width: 76px;
	text-align: center;

}
.wrapmain .main .beauty .beauty_c .btc_list{
	width: 743px;
	height: 390px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.wrapmain .main .beauty .beauty_c .btc_list dl{
	width: 247px;
	height: 195px;
	padding-top: 20px;
	padding-left:20px ;
	padding-right: 20px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.wrapmain .main .beauty .beauty_c .btc_list dl dt .p2{
	color:#ff8fd2;
	margin-top: 5px;
}
.wrapmain .main .beauty .beauty_c .btc_list dl dd{
	float: right;
}
.wrapmain .main .beauty .beauty_c .btc_list dl dd img{
	width: 130px;
	height: 130px;
}

.wrapmain .main .beauty .beauty_c .btc_list ul{
	width: 247px;
	height: 195px;
	padding-top: 20px;
	padding-left:20px ;
	padding-right: 20px;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.wrapmain .main .beauty .beauty_c .btc_list ul li{
	width: 100px;
	height: 50px;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	float: left;
	position: relative
}
.wrapmain .main .beauty .beauty_c .btc_list ul li a{
	display: inline-block;
	width: 100px;
	height: 50px;
	
}
.wrapmain .main .beauty .beauty_c .btc_list ul li a img{
	width: 80px;
	height: 32px;
	position: absolute;
	top:0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	margin: auto;
}

.wrapmain .main .beauty .beauty_c .btc_list ul li:nth-child(2n){
	border-right: none;
}
.wrapmain .main .beauty .beauty_c .btc_list ul li:nth-child(5){
	border-bottom: none;
}
.wrapmain .main .beauty .beauty_c .btc_list ul li:nth-child(6){
	border-bottom: none;
}

.wrapmain .main .beauty .beauty_r{
	width: 247px;
	height: 430px;
	background: white;
	float: left;
}
.wrapmain .main .beauty .beauty_r h6{
	height: 45px;
	width: 247px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	color: #7d6666;

}
.wrapmain .main .beauty .beauty_r .btr_list{
	width: 247px;
	height: 380px;
	display: flex;
	justify-content: center;
}

.wrapmain .main .beauty .beauty_r .btr_list dl{
	width: 210px;
	height: 78px;
}
.wrapmain .main .beauty .beauty_r .btr_list dl dt{
	float: left;
	width: 60px;
	height: 78px;
}
.wrapmain .main .beauty .beauty_r .btr_list dl dt img{
	width: 60px;
	height: 60px;
}
.wrapmain .main .beauty .beauty_r .btr_list dl dd{
	float: right;
	padding-top:5px ;
	width:135px ;
	height: 78px;
	margin-left: 15px;	
}

.wrapmain .main .beauty .beauty_r .btr_list dl dd .p1{
	line-height: 23px;
}
.wrapmain .main .beauty .beauty_r .btr_list dl dd .p2{
	color: red;
	margin-top: 5px;
}


/*母婴玩具*/
.wrapmain .main .motherplay{
	width: 1225px;
	height: 430px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.wrapmain .main .motherplay .motherplay_left{
	width: 610px;
	height: 430px;
}

.wrapmain .main .motherplay .motherplay_left .mpl_top{
	height: 50px;
	width: 610px;
	background:#fe8686 ;
	line-height: 50px;
	padding: 0 18px;
	
}

.wrapmain .main .motherplay .motherplay_left .mpl_top h6{
	float: left;
	font-size: 16px;
}
.wrapmain .main .motherplay .motherplay_left .mpl_top h6 a{
	color: white;
}

.wrapmain .main .motherplay .motherplay_left .mpl_top p{
	float: right;
	width:399px ;
	font-size: 12px;
	
}
.wrapmain .main .motherplay .motherplay_left .mpl_top p a{
	color: white;
	padding: 0 5px;
}
.wrapmain .main .motherplay .motherplay_left .mpl_top p span{
	color: white;
}

.wrapmain .main .motherplay .motherplay_left .mpl_bottom{
	width: 610px;
	height: 380px;
}
.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_l{
	width:237px ;
	height: 380px;
	position: relative;
	float: left;
}
.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_l img{
	width:237px ;
	height: 380px;
}
.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_l .descripion{
	width: 96px;
	height: 80px;
	position: absolute;
	top:25px;
	left: 20px;
}
.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_l .descripion .p1{
	font-size: 16px;
	color:#fe8686;
	margin-bottom: 10px;
}
.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_l .descripion .p2{
	font-size: 12px;
	color:#cccccc;
	margin-bottom: 20px;
}

.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_l .descripion a{
	margin-right:5px ;	
}

.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_l .descripion a em{
	display: inline-block;
	width: 22px;
	height: 4px;
	background: #fe8686;
}

.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_r{
	width:373px ;
	height: 380px;
	float: left;
	background: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_r a{
	display: inline-block;
	width: 165px;
	height:164px ;
	border-left:1px solid #e5e5e5 ;
	border-bottom:1px solid #e5e5e5 ;
	padding-top:25px;
	padding-left:20px;
	overflow: hidden;
	color:black;
	
}

.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_r a .p2{
	color:#fe8686 ;
	margin-top:8px;
}

.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_r a img{
	width: 105px;
	height: 105px;
	float: right;
	margin-top:10px ;
	margin-right: 10px;	
}
.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_r a:nth-child(3){
	border-bottom:none;
}

.wrapmain .main .motherplay .motherplay_left .mpl_bottom .mplb_ra:nth-child(4){
	border-bottom:none;
}


/*motherplay  right*/
.wrapmain .main .motherplay .motherplay_right{
	width: 610px;
	height: 430px;
}

.wrapmain .main .motherplay .motherplay_right .mpr_top{
	height: 50px;
	width: 610px;
	background:#6cc8ff ;
	line-height: 50px;
	padding: 0 18px;
	
}

.wrapmain .main .motherplay .motherplay_right .mpr_top h6{
	float: left;
	font-size: 16px;
}
.wrapmain .main .motherplay .motherplay_right .mpr_top h6 a{
	color: white;
}

.wrapmain .main .motherplay .motherplay_right .mpr_top p{
	float: right;
	width:382px ;
	font-size: 12px;
	
}
.wrapmain .main .motherplay .motherplay_right .mpr_top p a{
	color: white;
	padding: 0 5px;
}
.wrapmain .main .motherplay .motherplay_right .mpr_top p span{
	color: white;
}

.wrapmain .main .motherplay .motherplay_right .mpr_bottom{
	width: 610px;
	height: 380px;
}
.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_l{
	width:237px ;
	height: 380px;
	position: relative;
	float: left;
}
.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_l img{
	width:237px ;
	height: 380px;
}
.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_l .descripion{
	width: 96px;
	height: 80px;
	position: absolute;
	top:25px;
	left: 20px;
}
.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_l .descripion .p1{
	font-size: 16px;
	color:#6cc8ff;
	margin-bottom: 10px;
}
.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_l .descripion .p2{
	font-size: 12px;
	color:#cccccc;
	margin-bottom: 20px;
}

.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_l .descripion a{
	margin-right:5px ;	
}

.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_l .descripion a em{
	display: inline-block;
	width: 22px;
	height: 4px;
	background: #6cc8ff;
}

.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_r{
	width:373px ;
	height: 380px;
	float: left;
	display: flex;
	background: white;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_r a{
	display: inline-block;
	width: 165px;
	height:164px ;
	border-left:1px solid #e5e5e5 ;
	border-bottom:1px solid #e5e5e5 ;
	padding-top:25px;
	padding-left:20px;
	overflow: hidden;
	color:black;
	
}

.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_r a .p2{
	color:#6cc8ff ;
	margin-top:8px;
}

.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_r a img{
	width: 105px;
	height: 105px;
	float: right;
	margin-top:10px ;
	margin-right: 10px;	
}
.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_r a:nth-child(3){
	border-bottom:none;
}

.wrapmain .main .motherplay .motherplay_right .mpr_bottom .mprb_r a:nth-child(4){
	border-bottom:none;
}

























































