input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset,
img {
    border: none;
}

em,
i,
b,
strong,
{
    font-style: normal;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}





.logo-bars {
    width: 1190px;
    height: 140px;
    padding: 30px 0;
    margin: 0 auto;
    .logos {
        float: left;
        width: 290px;
        height: 70px;
        margin-right: 140px;
        h1 a {
            display: block;
            width: 290px;
            height: 70px;
            background: url("/img/logo.png");
            span {
                display: none;
            }
        }
    }
    .cart_logo {
        float: right;
        height: 58px;
        width: 560px;
        li {
            float: left;
            height: 58px;
            width: 185px;
        }
        .step1 {
             position: relative;
            background: url("/img/bg-step.jpg") no-repeat 0px 0px;
             .bg_step1 {
                position: absolute;
                left: 87px;
                top: 6px;
            }
            .txt_step1 {
               width: 185px;
                height: 22px;
                text-align: center;
                line-height: 22px;
                color: #ccc;
                margin-top: 30px;
            }
        }
        .step2 {
            position: relative;
            background: url("/img/bg-step.jpg") no-repeat -181px -67px;
            .bg_step2 {
                position: absolute;
                left: 87px;
                top: 6px;
            }
            .txt_step2 {
                width: 185px;
                height: 22px;
                text-align: center;
                line-height: 22px;
                color: red;
                margin-top: 30px;
            }
        }
        .step3 {
            position: relative;
            background: url("/img/bg-step.jpg") no-repeat -181px 0;
            .bg_step3 {
                position: absolute;
                left: 87px;
                top: 6px;
            }
            .txt_step3 {
                width: 185px;
                height: 22px;
                text-align: center;
                line-height: 22px;
                color: #969896;
                margin-top: 30px;
            }
        }
    }
}

.confirm_contain{
    width: 1190px;
    margin: 0 auto;
    height: auto;
    padding: 0 15px;
    h5{
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin-bottom: 15px;
        span{
            display: inline-block;
            float: left;
        }
        a{
            display: inline-block;
            float: right;
        }
    }
    .detail{
        height: aut0x;
        width: 100%;
      .detail_title{
          height: 40px;
          width: 100%;
          line-height: 40px;
          margin-bottom: 20px;
          li{
              float: left;
          }
          .title_prods{
              width: 664px;
              border-bottom: 2px solid red;
          }
          .title_price,.title_amount,.title_discount {
              width: 117px;
              text-align: center;
              border-bottom: 2px solid red;
              margin: 0 5px;
            }
            .title_total{
                width: 114px;
                text-align: center;
                border-bottom: 2px solid red;
            }
          }
          .detail_desc{
              height: 115px;
              widows: 100px;
              border-top:1px solid #e5e5e5;
              border-bottom:1px solid #e5e5e5;
              margin-bottom: 20px;
              li{
                float: left;
            }
              .desc_prods{
                width: 664px;
                margin-top: 15px;
                img{
                    border: 1px solid #eeeeee;
                    width: 82px;
                    height: 82px;
                }
                span{
                    display: inline-block;
                }

              } 
              .desc_price,.desc_amount,.desc_discount {
                width: 117px;
                text-align: center; 
                line-height: 115px;    
                margin: 0 5px;        
              }
              .desc_total{
                  width: 114px;
                  text-align: center;   
                  line-height: 115px;                  
              }
          }
      }
      .list_pay{
          height: 117px;
          width: 100%;
          background: #eeeeee;
          margin-bottom: 10px;
          .list_pay_list{
            height: 117px;
            width: 100%; 
           padding: 10px 15px;
            li{
                line-height: 25px;
                text-align: right;
                width: 100%; 
                b{
                    color: red;
                }
                span{
                    display: inline-block;
                    width: 90%;
                   float: left;
                }
            }
          }
      }
      .liuyan{
          widows: 100%;
          height: 150px;
          margin-bottom: 10px;
          h5{
              height: 15px;
              line-height: 15px;
              margin-bottom: 10px;
              color: #666666;
          }
          .liuyan_content{
              border: 1px solid #e5e5e5;
              width: 98%;
              height: 112px;
              float:right;
              textarea{
                width: 99%;
                height: 96%;          
                border: none; 
              }
          }
      }
     .pay{
          height: 80px;
          width: 100%;
          margin-bottom: 10px;
          p{
              display: inline-block;
              height: 35px;
              width: 100%;
              padding: 0 15px;
              text-align: right;
              span{
                  width: 90%;
                  float: left;   
                    font-size: 18px;                     
           }
          b{
              color: #e60012;
              font-size: 18px;             
          }
        }
        .btn{
            width: 142px;
            height: 45px;
            border-radius: 5px;
            background: #ff611b;
            text-align: center;
            line-height: 45px;
            color: white;
            font-size: 16px;
            float: right;
            border: none;
        }
      }
    }



