.products_detail{
    width: 1190px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
    .p_d_title{
        width: 100%;
        height: 16px;
        line-height: 16px;
        overflow: hidden;
        margin: 14px 0;
        color: #666;
    }
    .p_d_content{
             width: 1190px;
             height: 600px;
            // display: block;
            border: 1px solid #e5e5e5;
            padding: 20px 15px 20px 20px;
        .p_d_content_left{
            float: left;
            width: 418px;
            height: 418px;
            .big_img{
//              display: block;
                width: 418px;
                height: 418px;
                border: 1px solid #e5e5e5
            }
            .small_img{
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                .s_m_pictures{
                    position: relative;
                    z-index: 10;
                    display: block;
                    width: 358px;
                    height: 62px;
                    margin: auto;
                    overflow: hidden;
                }
                .s_m_btn{
                    span{
                        width: 24px;
                        height: 60px;
                        position: absolute;
                        top: 0;
                        border: 1px solid #e5e5e5;
                        text-indent: -9999px;
                        color: #999999;
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
        
        .p_d_content_center{
                float: left;
                width: 485px;
                padding-bottom: 20px;
                height: 484px;
                padding-left: 15px;
                padding-right: 15px;
                border-right: 1px dotted #e5e5e5;
                .p_d_c_title{
                display: block;
                padding: 0 5px 5px;
                border-bottom: 1px dashed #e5e5e5;
                margin-bottom: 20px;
            }
            .describ{
                    width: 100%;
                    height: 120px;
                    margin-bottom: 20px;
                    background: #fde5e0;
                    border: 2px solid #ffcbc4;
                    border-left: 0 none;
                    border-right: 0 none;
            }
            .price{
                 height: 125px;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px dashed #e5e5e5;
            }
            .acount{
                height: 35px;
                width: 100%;
                 margin-top: 15px;
                 padding-left: 10px;
                  margin-bottom: 30px;
                .acount_left{
                    height: 35px;
                    width: 80px;
                    line-height: 35px;
                    float: left;
                   
                   
                }
                 .acount_right{
                     float: left;
                     width: 80px;
                     height: 35px;
                        input{
                         width: 40px;
                         height: 35px;
                         float: left;
                         display: block;
                     }
                     
                     .acount_btn{
                         float: left;
                         width: 23px;
                         height: 18px;
                         text-align: center;
                         line-height: 18px;
                         border:1px solid #e5e5e5;
                     } 
                 }
            }
            .add{
                padding: 0 25px;
                height: 36px;
                margin-top: 10px;
                a{
                    display: block;
                    float: left;
                    width: 140px;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 3px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-right: 20px;
                    font-size: 14px;
                    background:#a3a3a3;
                    
                }
            }

            }
          
            }
            
           
        
    }
























