.logo-bars {
    width: 1000px;
    height: 140px;
    padding: 30px 0;
    margin: 0 auto;
    margin-bottom: 15px;
    .logos {
        float: left;
        width: 290px;
        height: 70px;
        margin-right: 140px;
        h1 a {
            display: block;
            width: 290px;
            height: 70px;
            background: url(/img/logo.png);
            span {
                display: none;
            }
        }
    }
}

.footer_bottom {
    height: 310px;
    width: 1000px;
    padding-top: 50px;
    margin: 0 auto;
 
}
.footer_bottom .p1 {
    text-align: center;
    color: #666666;
    line-height: 30px;
}
 .footer_bottom .p2 {
    text-align: center;
    color: #666666;
    line-height: 30px;
}
 .footer_bottom .p3 {
    text-align: center;
}
 .footer_bottom .p3 img {
    width: 97px;
    height: 42px;
    margin-right: 5px;
}
.footer_bottom .p3 img:nth-child(5) {
    width: 100px;
    height: 98px;
    position: relative;
    top: 40px;
}
.footer_bottom .p3 img:last-child {
    width: 50px;
    height: 70px;
    position: relative;
    top: 20px;
}
.form_all{
     width:1000px; 
     height: auto;
     margin: 0 auto;
     margin-bottom: 15px;

.form_title{
    width:1000px ;
    height: 40px;
    z-index: 100;
    .form_tile_left{
        width: 390px;
        height: 40px;
        margin-left: 225px;
        float: left;
        li{
            border-top: 1px solid #dbdada;
            border-left: 1px solid #dbdada;
            border-right: 1px solid #dbdada;
            width: 120px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-left: 10px;
            float: left;
            cursor: pointer;
        }
        .form_title_active{
            color: #e60012;
            background-color: #fff;
            cursor: pointer;
            border-bottom: 1px solid #fff;
            height: 41px;
        }
    }
    .form_title_right{
        float: right;
        font-size: 12px;
        font-weight: normal;
        color: rgb(102, 102, 102);
        height: 40px;
        line-height: 40px;
        margin-left: 115px;
    }
}
    .form_context{
       width:1000px ;
        border: 1px solid #e5e5e5;
        padding-left: 40px;
        padding-top: 42px;
        padding-bottom: 120px;
        background: url(/img/bg-regist.jpg) no-repeat 582px 52px;
        h5{
            font-size: 24px;
            font-family: '微软雅黑';
            color: #333333;
            margin-bottom: 25px;
            position: relative; 
        }
        .form_context_message{
            height: 60px;
            width: 440px;
            label{
                width: 110px;
                display: inline-block;
                height: 35px;
                line-height: 35px;
            }
            .inputs{
                height: 35px;
                border: 1px solid #e5e5e5;
                padding-left: 10px;
                line-height: 35px;
                width: 330px;
                font-size: 12px;
            }
            .code_txt{
                width: 150px;
            }
            .get_code{
                display: inline-block;
                width: 125px;
                height: 33px;
                text-align: center;
                line-height: 33px;
                margin-left: 5px;
                background: #f8f8f8;
                border: 1px solid #e5e5e5;
                position: relative;
                top:1px;
            }
            .next{
                cursor: pointer;
            }
            .info-message{
               display: inline-block;
                color: red;
                margin-left: 115px;
                display: none;
            }
            .checkbox{
                margin-left: 110px;
            }
            
            .btn {
                display: inline-block;
                border: none;
                width: 110px;
                height: 38px;
                font-family: '微软雅黑';
                font-size: 18px;
                color: #FFFFFF;
                background-color: #ff611b;
                line-height: 38px;
                text-align: center;
                margin-left: 110px;
            }
            

        }
    }

}


































